extends layout

block content
  h1 Application Submitted Successfully!
  p In order to process your application we require a $45 applicaiton fee per applicant and cosigner.
  p Would you like to pay the application fee online? Select an option below:
  p $45 - 1 applicant
  
  form(name="PrePage", method="post", action="https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx")
   input(type="hidden", name="LinkId", value="eedfd428-6f77-4433-bea6-3cc74af9b482")
   input(type="submit", value="Pay $45")

  hr
  
  p $90 - 1 applicant and 1 cosigner
  form(name="PrePage", method="post", action="https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx")
   input(type="hidden", name="LinkId", value="dc33e526-bbef-4891-b97a-b944b16af3ae")
   input(type="submit", value="Pay $90")

  p: b A fee is required for each applicant and any cosigner.
  
  hr
  
  p. If you would like to complete the application and send in your payment via another method please contact Richmond Loft Company
   and make arrangements
  p PLEASE NOTE YOUR APPLICATION WILL NOT BE PROCESSED UNTIL THE FEE HAS BEEN PAID.
